
@import 'nib'
@import 'nib/gradients'
@import 'jeet'
@import 'rupture'


.fs-container
  width: 100%
  height: 100%
  padding: 0
  margin: 0

body
  @extend .fs-container
    
#globe-container
  @extend .fs-container
  background-image: url("starry-bg.jpg")
  #globe-cv
    @extend .fs-container
  #city-search
    absolute: top left
    margin-top 10%
    col(2/3, offset: 1/20)