@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'base';


$sidebar-width: 290px;
$toggle-tab-width: 30px;

$light-green: #9CBF44;
$cream: #FFF6DC;
$forecast-width: 5000px;


@include keyframes(slide-in) {
    0%     { left: (-$sidebar-width); }
    100%   { left: 0; }
}

@include keyframes(slide-out) {
    0%     { left: 0; }
    100%   { left: (-$sidebar-width); }
}


html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.we-pp-wrapper {
  background-color: #888;
}

.thin-shadow {
    @include box-shadow(1px, 1px, 3px, #000);
}

.stat-icon {
    float: left;
    height: 4.5em;
    width: 4.5em;
}

span.temp {
    font-size: 2.8em;
    
    sup {
        font-size: 0.5em;
    }
}

.mark-temp {
    span {
        font-size: 1.8em;
    
        sup {
            font-size: 0.5em;
        }
    }
}


.forecast-list {
    
    .fcast-item {
        width: 70px;
        padding: 5px 5px;
        img {
            position: relative;
            left: -10px;
        }
        
        table {
            border-spacing: 10px;
            td th {
                padding: 10px;
            }
        }
    }
}

.weather-marker {
    width: 220px;
    height: 100%;
    h5 {margin: 1px 0;}
    h6 {margin: 1px 0;}
    
    .stat-icon {
        margin-right: 10px;
    }
    
    .temp {
        margin-left: 10px;
    }
    
    .stat-icon-container {
        padding: 0 0;
    }
}

#canvas-wrap {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    
    #canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://s3.amazonaws.com/armin-s3-general/weatherball/minimal-earth.png');
    }
    
    .ui {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        
        &#sidebar-container {
            position: relative;
            width: ($sidebar-width + $toggle-tab-width);
            
            &.slide-in {
                @include animation('slide-in 0.1s ease-out forwards');
            }
            
            &.slide-out {
                @include animation('slide-out 0.1s ease-out forwards');
            }
            
            #sidebar {
                overflow-y: auto;
                @include box-shadow(1px, 55px, 12px, #FFF);
                background-color: $cream;
                float: left;
                width: $sidebar-width;
                padding: 0;
                margin: 0;
                #search-box {
                    background-color: $light-green;
                    #search-bar {
                        margin-top: 40px;
                        margin-bottom: 30px;
                    }
                    
                    .input-group {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    
                    
                    #advanced-search-toggle {
                        margin-top: 20px;
                        border-bottom: solid;
                        border-width: 4px;
                        border-radius: 6px;
                        cursor: pointer;
                        font-size: 0.8em;
                        color: #888;
                        text-align: center;
                        background: lighten($light-green, 15%);
                        &:hover {
                            background: lighten($light-green, 20%);
                        }
                    }
                }
                
                #location-list {
                    margin-top: 30px;
                    margin-bottom: 100px;
                    background-color: $cream;
                    .location-entry {
                        font-size: 0.85em;
                        padding: 5px 1px;
                        background: darken($cream, 10%);
                        
                        h5 {margin: 1px 0;}
                        h6 {margin: 1px 0;}
                        
                        &:hover {
                            $hover-intensity: 25%;
                            background: darken($cream, $hover-intensity);
                        }
                        
                        .row {
                            margin: 0px 0px;
                        }
                        
                        .time {
                            font-size: 0.85em;
                        }
                        
                        .list-weather-temp {
                            margin-top: 10px;
                            margin-bottom: 15px;
                        }
                        
                    }
                }
            }
            
            #toggle-tab {
                @include box-shadow(1px, 2px, 5px, #FFF);
                cursor: pointer;
                background-color: #ccc;
                text-align: center;
                vertical-align: middle;
                line-height: ($toggle-tab-width * 2);
                float: right;
                width: $toggle-tab-width;
                height: ($toggle-tab-width * 2);
            }
        }
        
        #sidebar-container.hide {
            left: (-$sidebar-width);
        }
    }
}

