<div id="canvas-wrap">
    <div id="canvas"></div>
    <div id="sidebar-container" class="slide-in ui">
        <%= react_component('Sidebar') %>
        <div id="toggle-tab" class="thin-shadow">
            <span class="glyphicon glyphicon-map-marker"></span>
        </div>
    </div>
</div>

<script>
    //Slide in and out sidebar
    var sidebarContainer = $("#sidebar-container");
    $("#toggle-tab").click(function () {
        sidebarContainer.toggleClass("slide-out");
        sidebarContainer.toggleClass("slide-in");
    })

    // Resize the canvas to fill browser window dynamically
    var canvas = document.getElementById('canvas');
    
    window.addEventListener('resize', resizeCanvas, false);
    
    function resizeCanvas() {
        canvas.style.width = window.innerWidth + "px";
        canvas.style.height = window.innerHeight + "px";
    }
    resizeCanvas();
    
    //webglearth initialization
    //Don't render earth if using Internet Explorer.
    if(!detectIE()){
        WG = WE
        earth = new WE.map('canvas');
        WE.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg').addTo(earth);
        $('#canvas').css({position: 'absolute', 'z-index': '1',})
        $('canvas').css({position: 'absolute'})
    }
</script>